<dx-data-grid id="gridContainer"
              [dataSource]="usersService.users"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              keyExpr="id.value"
              [showBorders]="true">
  <dxo-paging pageSize="25"></dxo-paging>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column dataField="picture.medium" caption="Photo" [allowFiltering]="false"
              [allowSorting]="false"
              cellTemplate="userImageTemplate"
              cssClass="text-center align-middle">
  </dxi-column>
  <dxi-column dataField="name.first" caption="Name" cssClass="text-center align-middle"></dxi-column>
  <dxi-column dataField="name.last" caption="Last name" cssClass="text-center align-middle"></dxi-column>
  <dxi-column dataField="gender" cssClass="text-center align-middle"
              *ngIf="usersService.allowedColumns['gender']">
  </dxi-column>
  <dxi-column dataField="phone" cssClass="text-center align-middle"
              *ngIf="usersService.allowedColumns['phone']"
  ></dxi-column>
  <!--  add user image-->
  <div *dxTemplate="let data of 'userImageTemplate'">
    <img [src]="data.value" alt="image"/>
  </div>
  <!--  add Master detail-->
  <div *dxTemplate="let item of 'detail'">
    <div class="master-detail-caption mb-1">
      {{item.row.data.name.first + " " + item.row.data.name.last + "'s Details:"}}
    </div>
    <div class="master-detail-caption mb-1 text-danger"
         *ngIf="!usersService.allowedColumns['city'] && !usersService.allowedColumns['street'] && !usersService.allowedColumns['email']">
      Nothing to show. Select city, street or email.
    </div>
    <dx-data-grid
      [dataSource]="getMasterDetails(item.row.data.email)"
      [showBorders]="true"
      [columnAutoWidth]="true"
      *ngIf="usersService.allowedColumns['city'] || usersService.allowedColumns['street'] || usersService.allowedColumns['email']"
    >
      <dxi-column dataField="location.city" caption="City"
                  *ngIf="usersService.allowedColumns['city']">
      </dxi-column>
      <dxi-column dataField="location.street.name" caption="Street"
                  *ngIf="usersService.allowedColumns['street']">
      </dxi-column>
      <dxi-column dataField="email"
                  *ngIf="usersService.allowedColumns['email']">
      </dxi-column>
    </dx-data-grid>
  </div>
</dx-data-grid>
