.active {
  color: #df9200 !important;
  text-decoration: underline;
}

.menu-bar {
  color: #212121;
  background: white;
  min-height: 10vh;
  padding: 1rem 0;
}

.menu__link {
  padding: .5rem 1rem;
  color: #212121;
}

.menu__link:hover {
  color: #df9200;
  text-decoration: none;
}
