.active {
  background: rgba(255, 118, 160, 0.51);
}

.menu-bar {
  color: #212121;
  background: white;
  min-height: 10vh;
  padding: 1rem 0;
}

.menu__item {
}

.menu__link {
  padding: .5rem 1rem;
  color: #212121;
}
