.active {
  color: #df9200 !important;
  text-decoration: underline;
}

.menu-bar {
  color: #212121;
  background: white;
  min-height: 10vh;
  padding: 1rem 0;
}

.menu__link {
  font-size: 1.3rem;
  padding: .5rem 1rem;
  color: #212121;
}

.menu__link:hover {
  color: #df9200;
  text-decoration: none;
}

@media (max-width: 960px) {
  .menu__link {
    font-size: 1rem;
  }
}
@media (max-width: 540px) {
  .menu__link {
    font-size: .8rem;
    padding: .2rem .5rem;
  }
  .menu-bar {
    padding: .5rem 0;
  }
}
