<header class="menu-bar d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-2">
        <div class="menu-bar__logo">
          My Logo
        </div>
      </div>
      <div class="col-8 ml-auto">
        <nav>
          <ul class="menu d-flex justify-content-end m-0 ">
            <li class="menu__item">
              <a routerLink="/" routerLinkActive="active" class="menu__link">Home</a>
            </li>
            <li class="menu__item">
              <a routerLink="/users" routerLinkActive="active" class="menu__link">Users</a>
            </li>
            <li class="menu__item">
              <a routerLink="/about" routerLinkActive="active" class="menu__link">About us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
