<header class="menu-bar d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-2">
        <div class="menu-bar__logo">
          My Logo
        </div>
      </div>
      <div class="col-8 ml-auto">
        <nav class="menu d-flex justify-content-end">
          <a routerLink="/" routerLinkActive="active" class="menu__link"
             [routerLinkActiveOptions]="{exact: true}"
          >
            Home
          </a>
          <a routerLink="/users" routerLinkActive="active" class="menu__link">
            Users
          </a>
          <a routerLink="/todo" routerLinkActive="active" class="menu__link">
            Test todo
          </a>
          <a routerLink="/about" routerLinkActive="active" class="menu__link">
            About us
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
