<!--<dx-data-grid id="gridContainer"-->
<!--              [dataSource]="usersService.users"-->
<!--              [columns]="['picture.large', 'name.first', 'gender', 'phone']"-->
<!--              [showBorders]="true">-->
<!--</dx-data-grid>-->

<dx-data-grid id="gridContainer"
              [dataSource]="usersService.users"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              keyExpr="id.value"
              [showBorders]="true">
  <dxi-column dataField="picture.medium" caption="Photo" [width]="100" [allowFiltering]="false"
              [allowSorting]="false"
              cellTemplate="userImageTemplate">
  </dxi-column>
  <dxi-column dataField="name.first" caption="Name"></dxi-column>
  <dxi-column dataField="name.last" caption="Last name"></dxi-column>
  <dxi-column dataField="gender" [width]="170"></dxi-column>
  <dxi-column dataField="phone" [width]="125"></dxi-column>
<!--  add user image-->
  <div *dxTemplate="let data of 'userImageTemplate'">
    <img [src]="data.value" alt="image"/>
  </div>
<!--  add Master detail-->
    <div *dxTemplate="let employee of 'detail'">
      <div class="master-detail-caption">{{employee.data.FirstName + " " + employee.data.LastName + "'s Tasks:"}}</div>
      <dx-data-grid
        [dataSource]="getTasks(employee.key)"
        [showBorders]="true"
        [columnAutoWidth]="true">
        <dxi-column dataField="Subject"></dxi-column>
        <dxi-column dataField="StartDate" dataType="date"></dxi-column>
        <dxi-column dataField="DueDate" dataType="date"></dxi-column>
        <dxi-column dataField="Priority"></dxi-column>
        <dxi-column  dataType="boolean" caption="Completed" [calculateCellValue]="completedValue"></dxi-column>
      </dx-data-grid>
    </div>
</dx-data-grid>
