<!--<dx-data-grid id="gridContainer"-->
<!--              [dataSource]="usersService.users"-->
<!--              [columns]="['picture.large', 'name.first', 'gender', 'phone']"-->
<!--              [showBorders]="true">-->
<!--</dx-data-grid>-->

<dx-data-grid id="gridContainer"
              [dataSource]="usersService.users"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              keyExpr="id.value"
              [showBorders]="true">
  <dxi-column dataField="picture.medium" caption="Photo" [width]="200" [allowFiltering]="false"
              [allowSorting]="false"
              cellTemplate="userImageTemplate">
  </dxi-column>
  <dxi-column dataField="name.first" caption="Name" [width]="150"></dxi-column>
  <dxi-column dataField="name.last" caption="Last name" [width]="150"></dxi-column>
  <dxi-column dataField="gender"></dxi-column>
  <dxi-column dataField="phone"></dxi-column>
  <!--  add user image-->
  <div *dxTemplate="let data of 'userImageTemplate'">
    <img [src]="data.value" alt="image"/>
  </div>
  <!--  add Master detail-->
  <div *dxTemplate="let item of 'detail'">
<!--          <div class="master-detail-caption">{{item.row.data.name.first + " " + item.row.data.data.name.last + "'s Details:"}}</div>-->
    <dx-data-grid
      [dataSource]="getMasterDetails(item.data.id.value)"
      [showBorders]="true"
      [columnAutoWidth]="true"
    >
      <dxi-column dataField="location.city" caption="City"></dxi-column>
      <dxi-column dataField="location.street.name" caption="Street"></dxi-column>
      <dxi-column dataField="email"></dxi-column>
    </dx-data-grid>
  </div>
</dx-data-grid>
