<div class="add-todo">
  <div class="container">
    <div class="row no-gutters justify-content-center align-items-center">
      <div class="col-8 col-md-10">
        <input type="text"
               class="add-todo__input border rounded w-100"
               placeholder="Todo title"
               [(ngModel)]="title"
               (keydown.enter)="addTodo()"
        >
      </div>
      <div class="col-4 col-md-2 d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-success w-100"
                (click)="addTodo()"
        >
          <span class="btn-text">Add todo</span>
        </button>
      </div>
    </div>
    <div class="row"
         *ngIf="errorMessage"
    >
      <div class="col-12 text-danger">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
