<div class="todo-list">
  <div class="container mt-2">
    <div *ngIf="!loading; else loadingTemplate">
      <div *ngIf="!todoService.noTodos; else todosNotFound">

      </div>
      <div class="todo-list"
           *ngIf="todoService.todo.length; else noTodo"
      >
        <!--            todoFilter - pipe-->
        <div *ngFor="let item of todoService.todo | todoFilter:todoService.searchString; let i = index"
             class="todo-list__item row justify-content-between align-items-center mb-2"
        >
          <div class="col-1 p-0 p-sm-2">
            <input type="checkbox"
                   [checked]="item.completed"
                   (change)="onChange(item.id)"
            >
          </div>
          <div class="col-1 p-0 p-sm-2">
            <strong>
              {{ i + 1 }}
            </strong>
          </div>
          <div class="col-8 col-sm-9 p-0 p-sm-2">
             <span class="todo-list__title"
                   [class.todo-list_done]="item.completed"
             >
            {{ item.title }}
              </span>
          </div>
          <div class="col-2 col-sm-1 p-0 p-sm-2">
            <button class="btn delete"
                    (click)="removeTodo(item.id)"
            >
              &times;
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noTodo>
      <p class="text-success text-center">
        All tasks was done!
      </p>
    </ng-template>
    <ng-template #loadingTemplate>
      <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-around">
          <span class="">Loading...</span>
          <div class="spinner-border text-warning" role="status" aria-hidden="true"></div>
        </div>
      </div>
    </ng-template>
    <ng-template #todosNotFound>
      <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center">
          <span class="text-danger">No todos</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>

