.todo-list__item {
  padding: .5rem 1rem;
  border: 1px solid slategrey;
  border-radius: 5px;
}
.todo-list_done {
  text-decoration: line-through;
}
.delete {
  background: red;
  padding: .1rem .6rem;
  border-radius: 50%;

  &:hover {
    background: darken(red, 30%);
  }
}
